# Демонстрация работы модели

## загружаем необходимые данные

In [1]:
import pandas as pd
import numpy as np
import pickle
import shutup

In [2]:
# импортируем кастомные классы
from class_predictor import predictor
from class_packer import packer

In [3]:
shutup.please()

In [4]:
carton = pd.read_csv('carton_full_features.csv')
sku = pd.read_csv('full_sku_data.csv')

In [5]:
# откроем модели
with open('model_big.pcl', 'rb') as f:

    model_big = pickle.load(f)
    
with open('model_small.pcl', 'rb') as f:

    model_small = pickle.load(f)

## Создадим списки SKU для проверки алгоритма

In [6]:
sample_1 = sku['sku'].sample(n=100)
sample_2 = sku['sku'].sample(n=150)
sample_3 = sku['sku'].sample(n=250)
sample_4 = sku['sku'].sample(n=1)
sample_5 = sku['sku'].sample(n=5)

# сэмплы возьмем как с большим количеством товаров, так и с малым.

## Используем класс predictor

In [7]:
# здесь можно ознакомиться с аргументами, которые принимает класс при инициализации
pred = predictor(model_large=model_big, model_small=model_small, sku=sku, carton=carton)

In [8]:
predictions_1 = pred.predict(sample_1)
predictions_2 = pred.predict(sample_2)
predictions_3 = pred.predict(sample_3)
predictions_4 = pred.predict(sample_4)
predictions_5 = pred.predict(sample_5)

In [9]:
for dataframe in [predictions_1, predictions_2, predictions_3, predictions_4, predictions_5]:
    n=1
    print('predictions_',n)
    n+=1
    display(dataframe.head())
    display(dataframe.info())

predictions_ 1

,sku,a,b,c,volume,category_0.0,category_1.0,category_2.0,category_3.0,category_4.0,...,category_6.0,category_7.0,category_8.0,category_9.0,category_10.0,category_11.0,category_12.0,category_13.0,category_14.0,prediction
2240795,6e5692534ccca52bbdf4b11da75bb6c0,86.0,55.0,36.0,170280.0,0,0,1,0,0,...,0,1,0,0,1,0,0,0,0,nonpack
4336033,5fe9d7ad2cd0d1ee24d1da7eee5891ff,69.0,69.0,26.0,123786.0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,nonpack
4236845,a35c5b415c3e43b7b19d470f0820df67,80.0,80.0,26.0,166400.0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,nonpack
4793014,9fc96559674446e6dc0ce7a67b99c6bb,245.0,165.0,123.0,4972275.0,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,nonpack
4362910,c10d0555210527f5c86ff6bdba2c398a,113.0,101.0,43.0,490759.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,nonpack

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 2240795 to 2364870
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sku            100 non-null    object
 1   a              100 non-null    float64
 2   b              100 non-null    float64
 3   c              100 non-null    float64
 4   volume         100 non-null    float64
 5   category_0.0   100 non-null    int64
 6   category_1.0   100 non-null    int64
 7   category_2.0   100 non-null    int64
 8   category_3.0   100 non-null    int64
 9   category_4.0   100 non-null    int64
 10  category_5.0   100 non-null    int64
 11  category_6.0   100 non-null    int64
 12  category_7.0   100 non-null    int64
 13  category_8.0   100 non-null    int64
 14  category_9.0   100 non-null    int64
 15  category_10.0  100 non-null    int64
 16  category_11.0  100 non-null    int64
 17  category_12.0  100 non-null    int64
 18  category_13.0  100 non-null    int64
 19  category_14.0  100 non-null    int64
 20  prediction     100 non-null    object
dtypes: float64(4), int64(15), object(2)
memory usage: 17.2+ KB

None

predictions_ 1

,sku,a,b,c,volume,category_0.0,category_1.0,category_2.0,category_3.0,category_4.0,...,category_6.0,category_7.0,category_8.0,category_9.0,category_10.0,category_11.0,category_12.0,category_13.0,category_14.0,prediction
2602042,e69ada2147b4365d3c44322a5e732f01,72.0,59.0,27.0,114696.0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,nonpack
2223616,0742849ea9073283296d384a8d9dd822,100.0,50.0,10.0,50000.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,nonpack
2634842,9910b918ff174cca254e8a9bb65e64a9,48.0,48.0,48.0,110592.0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,nonpack
4662712,a8023fa815339e8295fc289962fa961d,69.0,64.0,63.0,278208.0,0,0,1,0,0,...,0,1,0,0,1,0,0,0,0,nonpack
4322182,d5d874f2af15721d6fb0d1a21526476b,110.0,30.0,7.0,23100.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,nonpack

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 2602042 to 3942001
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sku            150 non-null    object
 1   a              150 non-null    float64
 2   b              150 non-null    float64
 3   c              150 non-null    float64
 4   volume         150 non-null    float64
 5   category_0.0   150 non-null    int64
 6   category_1.0   150 non-null    int64
 7   category_2.0   150 non-null    int64
 8   category_3.0   150 non-null    int64
 9   category_4.0   150 non-null    int64
 10  category_5.0   150 non-null    int64
 11  category_6.0   150 non-null    int64
 12  category_7.0   150 non-null    int64
 13  category_8.0   150 non-null    int64
 14  category_9.0   150 non-null    int64
 15  category_10.0  150 non-null    int64
 16  category_11.0  150 non-null    int64
 17  category_12.0  150 non-null    int64
 18  category_13.0  150 non-null    int64
 19  category_14.0  150 non-null    int64
 20  prediction     150 non-null    object
dtypes: float64(4), int64(15), object(2)
memory usage: 25.8+ KB

None

predictions_ 1

,sku,a,b,c,volume,category_0.0,category_1.0,category_2.0,category_3.0,category_4.0,...,category_6.0,category_7.0,category_8.0,category_9.0,category_10.0,category_11.0,category_12.0,category_13.0,category_14.0,prediction
1415933,848f1aa75beff99d6fc05c95e5fb6c7a,297.0,210.0,1.0,62370.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,nonpack
4271159,e7fe1422da7a2b0c2c5c99a85ceb61c6,49.0,49.0,49.0,117649.0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,nonpack
5631062,e4a1f2b37c1a969e73c55a4a2d565fd7,216.0,66.0,7.0,99792.0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,nonpack
60182,8764725867f4b52e905b6b11664f8559,131.0,13.0,5.0,8515.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,nonpack
3392948,a1e34b997db3714b70c070866b6d92c4,91.0,58.0,49.0,258622.0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,nonpack

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250 entries, 1415933 to 4431170
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sku            250 non-null    object
 1   a              250 non-null    float64
 2   b              250 non-null    float64
 3   c              250 non-null    float64
 4   volume         250 non-null    float64
 5   category_0.0   250 non-null    int64
 6   category_1.0   250 non-null    int64
 7   category_2.0   250 non-null    int64
 8   category_3.0   250 non-null    int64
 9   category_4.0   250 non-null    int64
 10  category_5.0   250 non-null    int64
 11  category_6.0   250 non-null    int64
 12  category_7.0   250 non-null    int64
 13  category_8.0   250 non-null    int64
 14  category_9.0   250 non-null    int64
 15  category_10.0  250 non-null    int64
 16  category_11.0  250 non-null    int64
 17  category_12.0  250 non-null    int64
 18  category_13.0  250 non-null    int64
 19  category_14.0  250 non-null    int64
 20  prediction     250 non-null    object
dtypes: float64(4), int64(15), object(2)
memory usage: 43.0+ KB

None

predictions_ 1

,sku,a,b,c,volume,category_0.0,category_1.0,category_2.0,category_3.0,category_4.0,...,category_6.0,category_7.0,category_8.0,category_9.0,category_10.0,category_11.0,category_12.0,category_13.0,category_14.0,prediction
3320477,ead6dd0d82a545563692eac7415ab9ed,10.0,4.0,1.0,40.0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,plastic

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 3320477 to 3320477
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sku            1 non-null      object
 1   a              1 non-null      float64
 2   b              1 non-null      float64
 3   c              1 non-null      float64
 4   volume         1 non-null      float64
 5   category_0.0   1 non-null      int64
 6   category_1.0   1 non-null      int64
 7   category_2.0   1 non-null      int64
 8   category_3.0   1 non-null      int64
 9   category_4.0   1 non-null      int64
 10  category_5.0   1 non-null      int64
 11  category_6.0   1 non-null      int64
 12  category_7.0   1 non-null      int64
 13  category_8.0   1 non-null      int64
 14  category_9.0   1 non-null      int64
 15  category_10.0  1 non-null      int64
 16  category_11.0  1 non-null      int64
 17  category_12.0  1 non-null      int64
 18  category_13.0  1 non-null      int64
 19  category_14.0  1 non-null      int64
 20  prediction     1 non-null      object
dtypes: float64(4), int64(15), object(2)
memory usage: 176.0+ bytes

None

predictions_ 1

,sku,a,b,c,volume,category_0.0,category_1.0,category_2.0,category_3.0,category_4.0,...,category_6.0,category_7.0,category_8.0,category_9.0,category_10.0,category_11.0,category_12.0,category_13.0,category_14.0,prediction
428340,ed4ef8d4c45db525ce6eeb3c1d5ff486,22.0,14.0,2.0,616.000,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,plastic
5085846,75bbfb5a57e3c7de9a3dd639f1b03f68,13.2,9.7,3.4,435.336,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,plastic
5069074,d0ab03fcabc0b361de47f0afb8b13076,22.0,18.0,5.0,1980.000,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,plastic
1513760,7b46077058aa309aa07264fdaec473fa,15.0,6.0,6.0,540.000,0,1,0,0,0,...,0,1,1,0,0,0,0,0,0,box
2110696,085b6a530ba30337f9e2d62a9fea8e8e,28.0,21.0,1.0,588.000,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,plastic

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 428340 to 2110696
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sku            5 non-null      object
 1   a              5 non-null      float64
 2   b              5 non-null      float64
 3   c              5 non-null      float64
 4   volume         5 non-null      float64
 5   category_0.0   5 non-null      int64
 6   category_1.0   5 non-null      int64
 7   category_2.0   5 non-null      int64
 8   category_3.0   5 non-null      int64
 9   category_4.0   5 non-null      int64
 10  category_5.0   5 non-null      int64
 11  category_6.0   5 non-null      int64
 12  category_7.0   5 non-null      int64
 13  category_8.0   5 non-null      int64
 14  category_9.0   5 non-null      int64
 15  category_10.0  5 non-null      int64
 16  category_11.0  5 non-null      int64
 17  category_12.0  5 non-null      int64
 18  category_13.0  5 non-null      int64
 19  category_14.0  5 non-null      int64
 20  prediction     5 non-null      object
dtypes: float64(4), int64(15), object(2)
memory usage: 880.0+ bytes

None

Как видно выше, данные обогатились сведениями из датафрейма sku и получили столбец prediction. Теперь их можно скормить упаковщику.

## Используем класс packer

Этот класс принимает результат работы предыдущего класса и carton при инициализации, а ответ выдает по команде packer.pack()

In [10]:
pc = packer(predictions_1, carton)
result_1 = pc.pack()
pc = packer(predictions_2, carton)
result_2 = pc.pack()
pc = packer(predictions_3, carton)
result_3 = pc.pack()
pc = packer(predictions_4, carton)
result_4 = pc.pack()
pc = packer(predictions_5, carton)
result_5 = pc.pack()

In [11]:
for df in [result_1, result_2, result_3, result_4, result_5]:
    display(df)

       type      box                                              goods
0     _none  nonpack                 [9fc96559674446e6dc0ce7a67b99c6bb]
1     _none  nonpack                 [c10d0555210527f5c86ff6bdba2c398a]
2     _none  nonpack                 [6e5692534ccca52bbdf4b11da75bb6c0]
3     _none  nonpack                 [a35c5b415c3e43b7b19d470f0820df67]
4     _none  nonpack                 [5fe9d7ad2cd0d1ee24d1da7eee5891ff]
5       box      YML  [fb42453b079458402cd01fb22167cf1b, a8deb08cecd...
6       box      YML  [e611b037f5f845c667963dfef4c9eef3, 2c5917b1187...
7       box      YML  [59b73cd25dd1cdb8afee6bd2a4cc3dfe, f998adb4143...
8       box      YML  [066a8b9a941e09a0df69dd76ade50c2c, d6ab86e24fe...
9   plastic      MYD  [f003abec1f161ac523f5603263c5d566, ace507dc9a5...
10  plastic      MYE  [47a9d58001f39ead1cefaf39a93c7ad6, b2a55d2fb4a...
11  plastic      MYE  [a9e9330a37ae2f8ff259f636e050f609, 5da35704393...
12  plastic      MYE  [0cd22acfd896de7778cd11bbf041f993, 16733c317e2...
13  plastic      MYE  [b49e935a627e45427b5737e541b41197, 6578ec418f1...
14  plastic      MYE  [2ba6f4404de99a3c291871f772e1b254, c5dd8aa8bf6...

       type      box                                              goods
0     _none  nonpack                 [a8023fa815339e8295fc289962fa961d]
1     _none  nonpack                 [e69ada2147b4365d3c44322a5e732f01]
2     _none  nonpack                 [9910b918ff174cca254e8a9bb65e64a9]
3     _none  nonpack                 [0742849ea9073283296d384a8d9dd822]
4     _none  nonpack                 [d5d874f2af15721d6fb0d1a21526476b]
5       box      YML  [b7bdc7e29dd8dab606109fca4a3e91f1, 3d15998b1c0...
6       box      YML  [937683c69d7a3778d3cccec7002c2c80, 82547e262d1...
7       box      YML  [e024390e7dba9843e6a1d17022d2b6b6, 3a4273a8219...
8       box      YML  [6ef752bdf8ae3c99a01a066bade1f491, 58dd259f9f5...
9   plastic      MYD  [41a21f76719b4a5463e1f7f4171eeb25, e4bce057034...
10  plastic      MYE  [6741c53c7fe5aa46bfdc07de7f98aace, a1f78f83bb6...
11  plastic      MYE  [946f0641e4601746a349704e82d2c21b, 7abb64ccaed...
12  plastic      MYE  [8c54553209185f69dce14e39880e3027, f0fda840bda...
13  plastic      MYE  [96664417e13e81caf209b6aa297399e5, 86e8516458c...
14  plastic      MYE  [cbbcbc151ed3a0a68605f497a04b01f4, 49f32e887e6...
15  plastic      MYE  [ecb506a593324e15e03ce9a0e889afbd, 75a2f87e2aa...
16  plastic      MYE  [5fb5e987b8ca69f1ba6c726407e979d3, 64f003d2546...
17  plastic      MYE  [590eb5c57525e618cfc8c5560aac1ebb, 59219ae9270...
18  plastic      MYE  [214a0d31319bfb1b1036d8bb26bc84e7, 41f5b3d5b51...
19  plastic      MYE  [e79a0cbbb34c16f607ebe8d32b89b3eb, aff1fd4b6a3...

       type      box                                              goods
0     _none  nonpack                 [a1e34b997db3714b70c070866b6d92c4]
1     _none  nonpack                 [e7fe1422da7a2b0c2c5c99a85ceb61c6]
2     _none  nonpack                 [ba7ef74fd267d0db83635f964b4ff9e9]
3     _none  nonpack                 [e4a1f2b37c1a969e73c55a4a2d565fd7]
4     _none  nonpack                 [848f1aa75beff99d6fc05c95e5fb6c7a]
5     _none  nonpack                 [51c3c3aef8e660a6a2c9886436a51272]
6     _none  nonpack                 [8764725867f4b52e905b6b11664f8559]
7       box      YML  [42a73fd1406f0ee05a8b3431296ced2b, a09a6f0407d...
8       box      YML  [c9fde64cad0a112095824c197611b3ab, cdb2954cdee...
9       box      YML  [dadec7fc5b08ab5954d3949f7b986957, dbb4b772647...
10      box      YML  [023e17ea8e6b91f96b944ad5629a56fc, 177becfd3ff...
11      box      YML  [26cf4c522814eaae0970d5f4c67d6a20, 2890ff5b0ed...
12      box      YML  [40650c43e5b1c303a888517cdd755562, 7efe6b8fc2c...
13      box      YML  [cab74fef33a1b1af465a9d6e7f111a01, fa35288ae31...
14      box      YML  [6bd87cc2264206727b4e224e47e2d8f7, 2e9c5c8c3d8...
15  plastic      MYE  [db5d2dd19e5d2bd0aca1ecf812236221, 8fd4a3c22c5...
16  plastic      MYE  [a28a6c26f78db0b542b54210bbdba629, 9c0238b2f17...
17  plastic      MYE  [c6874fb8a9cd02a5adfa987208ba3038, 28263d401f6...
18  plastic      MYE  [de4df4033314518cf775c53bc1e85679, efaa7004707...
19  plastic      MYE  [b644308fd994ef196cbb767828afde2e, a8dd7a9c55a...
20  plastic      MYE  [3397772b788dc8ed6412944a3fe2178b, 7fbe15b6c48...
21  plastic      MYE  [74bab772670048569eb496cb985c4a2c, cb6ae280672...
22  plastic      MYE  [1c0c5e90aafc426fdd55d222b8650f42, 023839c0332...
23  plastic      MYE  [f787dc9dd037a5b947dd29b1c9108c9a, 4d17c3d5bde...
24  plastic      MYE  [2c6f7d83d292ccb52c3d015c7d0af033, 1d029ba4e57...
25  plastic      MYE  [765db2db0bfcad30f6a1dbeb7aa0ff8b, f2f3a359d0a...
26  plastic      MYE  [4b0c959dc400b67c4a5cf302f5a186a0, c3c3409eda9...
27  plastic      MYE  [320d054b339e5d12f0b73cba68144ac7, f4af399706e...
28  plastic      MYE  [d19c6f94a339e699339cce0e258308c4, 43636376ea3...
29  plastic      MYE  [c744a0fa1263831bfa0450bce88281dd, 0d76ae0c552...
30  plastic      MYE  [52e37845cf8acaaf3a365d718023411a, 9c27027c9a4...
31  plastic      MYE  [95aeae0560fdea57ab370f79a33bfe6c, 3fc35934d69...

      type  box                               goods
0  plastic  MYA  [ead6dd0d82a545563692eac7415ab9ed]

      type  box                                              goods
0      box  MYF                 [7b46077058aa309aa07264fdaec473fa]
1  plastic  MYC  [d0ab03fcabc0b361de47f0afb8b13076, ed4ef8d4c45...

Инструкции по упаковке получены.

Далее, чтоб убедиться, что эти данные соответствуют действительности, предлагаю сделать следующее:
    
- посчитать sku в каждом результате и сравнить с количеством поданных на вход.
- для небольших файлов ознакомиться с данными по коробкам и товарам, чтоб убедиться в том, что они друг другу подходят.

In [12]:
n=1
for df in [result_1, result_2, result_3, result_4, result_5]:
    
    print('result number', n)
    n+=1
    item_list = []
    for x in df['goods']:
        item_list.append(len(x))
    print(item_list)
    print(sum(item_list))

result number 1
[1, 1, 1, 1, 1, 5, 6, 8, 22, 24, 3, 4, 5, 7, 11]
100
result number 2
[1, 1, 1, 1, 1, 3, 6, 7, 25, 28, 5, 3, 4, 4, 5, 5, 6, 8, 13, 23]
150
result number 3
[1, 1, 1, 1, 1, 1, 1, 3, 4, 3, 5, 6, 6, 10, 54, 3, 3, 3, 3, 4, 3, 4, 4, 4, 5, 5, 6, 8, 10, 14, 20, 53]
250
result number 4
[1]
1
result number 5
[1, 4]
5

## Рассмотрим результат 5 - запрос из 5 sku

In [13]:
result_5

      type  box                                              goods
0      box  MYF                 [7b46077058aa309aa07264fdaec473fa]
1  plastic  MYC  [d0ab03fcabc0b361de47f0afb8b13076, ed4ef8d4c45...

In [14]:
carton[carton['name']=='MYF']

  name type    price     a     b    c  volume   max_diag
9  MYF  box  4.08313  20.0  15.0  5.0  1500.0  25.495098

In [15]:
sku[sku['sku'].isin(result_5.loc[0,'goods'])]

,sku,a,b,c,volume,category_0.0,category_1.0,category_2.0,category_3.0,category_4.0,category_5.0,category_6.0,category_7.0,category_8.0,category_9.0,category_10.0,category_11.0,category_12.0,category_13.0,category_14.0
1513760,7b46077058aa309aa07264fdaec473fa,15.0,6.0,6.0,540.0,0,1,0,0,0,1,0,1,1,0,0,0,0,0,0

In [21]:
sku[sku['sku'].isin(result_5.loc[1,'goods'])]

,sku,a,b,c,volume,category_0.0,category_1.0,category_2.0,category_3.0,category_4.0,category_5.0,category_6.0,category_7.0,category_8.0,category_9.0,category_10.0,category_11.0,category_12.0,category_13.0,category_14.0
428340,ed4ef8d4c45db525ce6eeb3c1d5ff486,22.0,14.0,2.0,616.000,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2110696,085b6a530ba30337f9e2d62a9fea8e8e,28.0,21.0,1.0,588.000,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
5069074,d0ab03fcabc0b361de47f0afb8b13076,22.0,18.0,5.0,1980.000,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0
5085846,75bbfb5a57e3c7de9a3dd639f1b03f68,13.2,9.7,3.4,435.336,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0

In [20]:
carton[carton['name']=='MYC']

   name     type     price     a     b    c  volume   max_diag
13  MYC  plastic  3.616713  38.0  30.0  7.4  8436.0  48.977138

In [22]:
result_4

      type  box                               goods
0  plastic  MYA  [ead6dd0d82a545563692eac7415ab9ed]

In [23]:
sku[sku['sku'].isin(result_4.loc[0,'goods'])]

,sku,a,b,c,volume,category_0.0,category_1.0,category_2.0,category_3.0,category_4.0,category_5.0,category_6.0,category_7.0,category_8.0,category_9.0,category_10.0,category_11.0,category_12.0,category_13.0,category_14.0
3320477,ead6dd0d82a545563692eac7415ab9ed,10.0,4.0,1.0,40.0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0

In [24]:
carton[carton['name']=='MYA']

   name     type     price     a     b     c  volume   max_diag
11  MYA  plastic  1.109861  20.0  15.0  3.33   999.0  25.220803

In [25]:
result_1

       type      box                                              goods
0     _none  nonpack                 [9fc96559674446e6dc0ce7a67b99c6bb]
1     _none  nonpack                 [c10d0555210527f5c86ff6bdba2c398a]
2     _none  nonpack                 [6e5692534ccca52bbdf4b11da75bb6c0]
3     _none  nonpack                 [a35c5b415c3e43b7b19d470f0820df67]
4     _none  nonpack                 [5fe9d7ad2cd0d1ee24d1da7eee5891ff]
5       box      YML  [fb42453b079458402cd01fb22167cf1b, a8deb08cecd...
6       box      YML  [e611b037f5f845c667963dfef4c9eef3, 2c5917b1187...
7       box      YML  [59b73cd25dd1cdb8afee6bd2a4cc3dfe, f998adb4143...
8       box      YML  [066a8b9a941e09a0df69dd76ade50c2c, d6ab86e24fe...
9   plastic      MYD  [f003abec1f161ac523f5603263c5d566, ace507dc9a5...
10  plastic      MYE  [47a9d58001f39ead1cefaf39a93c7ad6, b2a55d2fb4a...
11  plastic      MYE  [a9e9330a37ae2f8ff259f636e050f609, 5da35704393...
12  plastic      MYE  [0cd22acfd896de7778cd11bbf041f993, 16733c317e2...
13  plastic      MYE  [b49e935a627e45427b5737e541b41197, 6578ec418f1...
14  plastic      MYE  [2ba6f4404de99a3c291871f772e1b254, c5dd8aa8bf6...

In [26]:
carton[carton['name']=='YML']

  name type      price     a     b     c    volume  max_diag
5  YML  box  37.694566  60.0  45.0  40.0  108000.0      85.0

In [27]:
sku[sku['sku'].isin(result_1.loc[5,'goods'])]

,sku,a,b,c,volume,category_0.0,category_1.0,category_2.0,category_3.0,category_4.0,category_5.0,category_6.0,category_7.0,category_8.0,category_9.0,category_10.0,category_11.0,category_12.0,category_13.0,category_14.0
1889035,a8deb08cecd0937bda8fc2a261b67254,62.0,43.0,14.0,37324.000,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0
2986905,fb42453b079458402cd01fb22167cf1b,48.0,48.0,30.0,69120.000,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0
3330022,c08602185ca9f1e59f6777f10d828f13,8.0,3.0,3.0,72.000,0,1,0,0,0,1,0,1,1,0,0,0,0,0,0
4567146,db76cb673a7ae5814b9ab72c4b56456e,13.0,12.0,8.0,1248.000,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0
5803430,ee8b0a40d85ee53c5b2a7ba46fbaccb6,16.3,3.8,3.4,210.596,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0

In [28]:
sku[sku['sku'].isin(result_1.loc[5,'goods'])]['volume'].sum()

107974.596

Как видно из показанных выше результатов, максимальный объем и максимальная диагональ коробок не превышена.